.custom-shape-divider-top-1634178381 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1634178381 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 79px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1634178381 .shape-fill {
  fill: #ffffff;
}
