.custom-shape-divider-top-1634178191 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1634178191 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 79px;
}

.custom-shape-divider-top-1634178191 .shape-fill {
  fill: #667fff;
}
